.user-center-page {
  margin: 20px auto;
  border-radius: 5px;
  overflow: hidden;
}

.main-content {
  padding: 40px;
  height: 500px;
  overflow-x: hidden;
  background-color: #fff;

  h2 {
    color: #565656;
  }
}

.user-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #dfdfdf;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.08);

  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
}
