.in-flow-tip {
  margin-bottom: 31px;
  height: 53px;
  padding: 0 40px;
  line-height: 53px;
  background: #e7f3fd;
  border: 1px solid #cfe8fb;
  border-radius: 5px;
  font-size: 16px;
  > span {
    margin-left: 25px;
    color: #666;
  }
  .icon {
    color: #38a0eb;
    font-size: 24px;
    vertical-align: middle;
  }
  > a {
    float: right;
  }
}