@import "../../css/_colors.css";

.selected-template, .file-form {
  display: block;
  width: 80%;
  margin: 20px auto;
  text-align: center;
  line-height: 3;
  border-radius: 5px;
  background-color: var(--level2Color);
}

.selected-template {
  & span {
    color: var(--mainColor);
  }
}

.file-form {
  padding: 20px 0;
}

.file-form {
  & label {
    display: block;
  }
  & .submit, & .expand {
    font-size: 16px;
    color: var(--mainFontColor);
    margin: 0 10px;
    padding: 8px;
    border-radius: 4px;
  }
  & .submit {
    -webkit-appearance: none;
    background-color: var(--mainColor);
    cursor: pointer;
  }
  & .expand {
    background-color: var(--mainColorDark);
  }
}

.expandPanel {
  & span {
    display: inline-block;
    width: 4em;
    text-align: right;
  }
  & input {
    margin-left: 8px;
    border: 1px solid var(--mainColorDark);
  }
}