.download-page {
  padding-bottom: 100px;
}

.wrapper {
  background: #ffffff;
  border-radius: 5px;
  :global(.ant-card) {
    &:hover {
      box-shadow: none;
    }
  
    :global(.ant-card-head-title) {
      font-size: 18px;
      color: #666;
    }
    :global(.ant-select) {
      display: block;
    }
  }
  
}
.btn-download {
  display: block;
  width: 91px;
  height: 30px;
  margin: 20px auto 0;
}

.preview-container {
  :global(.ant-tabs-nav) {
    height: 53px;
    padding-left: 20px;
  }
  :global(.ant-tabs-ink-bar) {
    display: none !important;
  }
  :global(.ant-tabs-tab) {
    margin-top: 14px;
    height: auto;
    padding: 0 10px;
    border-radius: 100px;
    border: 1px solid #ccc;
    &:global(.ant-tabs-tab-active) {
      border-color: #38a0eb;
    }
  }
}

.preview-wrapper {
  height: 600px;
}