
.header-nav {
  & h1 {
    display: inline-block;
    font-weight: normal;
    & a {
      display: inline-block;
      padding: 0 40px 0 20px;
    }
  }

  & ul {
    & li {
      display: inline-block;
      line-height: 80px;
      margin-left: 20px;
    }
    display: inline-block;
  }
  & .user {
    position: absolute;
    right: 0;
    line-height: 80px;
    padding-right: 20px;
  }
  &.through {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--mainFontColor);
    text-shadow: 0 0 15px rgba(0,0,0,.15);
  }
  width: 100%;
  color: var(--mainColor);
  transition: all .5s;
}