

.search-input {
  position: relative;
  margin: 0 auto ;
  width: 80%;
  input {
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    font-size: 16px;
  }
  :global(.ant-input-suffix) {
    right: 0 !important;
    i {
      width: 100px;
      height: 50px;
      line-height: 50px;
      color: #fff;
      background-color: #108ee9;
      font-size: 26px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      &:hover {
        color: #fff;
      }
    }
  }
  p {
    margin-top: 11px;
    padding-left: 14px;
    color: #108ee9;
    height: 20px;
    overflow-y: hidden;
    span {
      display: inline-block;
      margin-right: 35px;
    }
  }
}

.no-result-tip {
  padding: 100px 0;
  text-align: center;
  p {
    margin-bottom: 40px;
    font-size: 18px;
    color: #bbb;
  }
}

.list {
  margin: 36px 0;
}

.pagination {
  margin-bottom: 100px;
  text-align: right;
}
