.container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}
.clear-fix:before, .clear-fix:after {
  content: '';
  display: table;
  clear: both;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    min-width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul {
  list-style: none;
}

a:focus {
  text-decoration: none;
}

.slick-list {
  width: 100%;
}

.ant-layout-content {
  overflow: visible;
}
