.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/*.container-absolute {*/
  /*position: absolute;*/
  /*margin-left: 50%;*/
  /*transform: translateX(-50%);*/
/*}*/
.clear-fix:before, .clear-fix:after {
  content: '';
  display: table;
  clear: both;
}

@media (min-width: 1200px) {
  .container {
    width: 940px;
  }
}

* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    min-width: 1200px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

ul {
  list-style: none;
}

a:focus {
  text-decoration: none;
}

.slick-list {
  width: 100%;
}

.ant-layout-content {
  overflow: visible;
}