.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.container-absolute {
  position: absolute;
  margin-left: 50%;
  transform: translateX(-50%);
}
.clear-fix:before, .clear-fix:after {
  content: '';
  display: table;
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.slick-list {
  width: 100%;
}

.ant-layout-content {
  overflow: visible;
}