.menu-transparent:global(.ant-menu) {
  color: #fff;
  background-color: transparent;
  & > li:global(.ant-menu-item) a {
    color: #fff;
  }
  & > li:global(.ant-menu-item-active), & > li:global(.ant-menu-item-selected) {
    color: #fff !important;
    border-color: #fff !important;
  }
}
.menu:global(.ant-menu)  {
  border: none;
  width: 9999px;
  line-height: 64px;
  & > li:global(.ant-menu-item) {
    top: 0;
    margin-top: 0;
  }
}