.menu:global(.ant-menu) {
  border: none;
  width: 9999px;
  line-height: 64px;
  color: #fff;
  background-color: transparent;
  & > li:global(.ant-menu-item) {
    color: #fff;
  }
  & > li:global(.ant-menu-item-active), & > li:global(.ant-menu-item-selected) {
    color: #fff;
    border-color: #fff;
  }
}