.img-wrapper {
  display: flex;
  height: 300px;
  justify-content: center;
  align-items: center;
}
.intro-item {
  padding: 80px 0;
  h3 {
    font-size: 24px;
    font-weight: bold;
  }
  p {
    margin-top: 26px;
    font-weight: bold;
  }
}