.sign {
  color: #fff;
  &.sign-transparent {
    & :global(.ant-btn) {
      color: #fff;
      &:hover {
        color: #fff;
        border-color: #fff;
      }
    }
  }
  & :global(.ant-btn) {
    display: inline-block;
    padding: 0;
    width: 100%;
    text-align: center;
    line-height: 66px;
    height: 66px;
    color: rgba(0, 0, 0, .65);
    border: 0 transparent;
    border-bottom: 2px solid transparent;
    border-radius: 0;
    font-size: 16px;
    -webkit-appearance: none;
    &:hover {
      color: #108ee9;
      border-color: #108ee9;
    }
  }
  & :global(.ant-btn-clicked):after {
    display: none;
  }
}

.login-panel {

  & :global(.ant-modal-header) {
    display: none;

  }
  & :global(.ant-modal-body) {
    padding: 0;
    }
  & :global(.ant-tabs-nav-wrap) {
    padding-top: 20px;
    color: #fff;
    background: url("assets/signinout-bg.png") no-repeat center / cover ;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    text-align: center;

    & :global(.ant-tabs-nav) {
      float: none;
      & :global(.ant-tabs-tab:hover), & :global(.ant-tabs-tab) {
        color: #fff;
        transition: transform .3s;
        font-size: 16px;
      }
      & :global(.ant-tabs-tab-active) {
        color: #fff;
        transform: translateY(-5px);
      }
    }
    & :global(.ant-tabs-ink-bar) {
      background: none;
      height: 16px;
      text-align: center;
      &:before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-bottom-color: #fff;
      }
    }
  }
}

.formBody {
  padding: 16px !important;
}
