@import "../../css/_colors.css";

.template {

  & .search {
    & input {
      font-size: 20px;
      line-height: 2;
      padding: 0 20px;
      margin-left: 40px;
      border-radius: 100px;
      width: 50%;
      outline: none;
      border: 1px solid transparent;
      transition: border .5s;
      &:focus {
        border-color: var(--mainColor);
      }
    }
    text-align: center;
  }
  & ul {
    padding-top: 20px;
    margin-left: -20px;
  }

  & .list-item {
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    width: 180px;
    height: 260px;
    background-color: var(--level2Color);
    border-radius: 4px;
    overflow: hidden;
    transition: transform .5s;

    &:hover {
      transform: scale(1.05);
    }
    & div {
      height: 80%;
      background-color: var(--mainColor);
    }
    & h4 {
      padding: 0 8px;
      line-height: 3;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }


  width: 100%;
  padding-top: 30px;
}