.compose-container {
  padding-top: 70px;
}

.search-input {
  position: relative;
  margin: 0 auto ;
  width: 80%;
  input {
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    font-size: 16px;
  }
  :global(.ant-input-suffix) {
    right: 0;
    i {
      width: 100px;
      height: 50px;
      line-height: 50px;
      color: #fff;
      background-color: #108ee9;
      font-size: 26px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      &:hover {
        color: #fff;
      }
    }
  }
  p {
    margin-top: 11px;
    padding-left: 14px;
    color: #108ee9;
    height: 20px;
    overflow-y: hidden;
    span {
      display: inline-block;
      margin-right: 35px;
    }
  }
}

.list {
  margin: 36px 0;
}

.pagination {
  margin-bottom: 100px;
  text-align: right;
}

.no-fit-tip {
  background-color: #fff;
  img {
    max-width: 100%;
    max-height: 50%;
  }
}

.container{
  height: 428px;
  &::before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
.img-wrapper {
  display: inline-block;
  margin-left: -5%;
  width: 45%;
  vertical-align: middle;

}

.tip-wrapper {
  display: inline-block;
  width: 60%;
  text-align: right;
  vertical-align: middle;
  h2 {
    font-size: 30px;
    color: #666;
  }
  p {
    margin: 35px 0 92px;
    font-size: 18px;
  }
  button {
    width: 330px;
    height: 50px;
    font-size: 18px;
  }
}
