.footer-nav {
  padding: 0;
  background-color: #5a5a5a;
  text-align: center;
  a {
    color: #fff;
    padding: 4px 0;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    line-height: 160px;
    transition: border .3s;
    &:hover {
      border-bottom-color: #fff;
    }
  }
}
