
.index-wall {
  width: 100%;
  height: 100vh;
  background: url("../../img/index-wall.jpg") center no-repeat;
  background-size: cover;
  padding-top: 38vh;
  text-align: center;
  color: var(--mainFontColor);
  text-shadow: 0 0 15px rgba(0,0,0,.15);

  & h1 {
    line-height: 2;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 2px;
  }
  & a{
    display: inline-block;
    margin-top: 30px;
    padding: 0 20px;
    line-height: 2;
    font-size: 24px;
    border: 1px solid var(--mainFontColor);
    border-radius: 5px;
    transition: all .3s;
    &:hover {
      color: var(--mainColor);
      border-color: var(--mainColor);
      background: rgba(255,255,255,.5)
    }
  }
}